# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

# =========================
# IDEs
# =========================

## IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

## VS Code
.vscode/
.history/
*.code-workspace

## Eclipse / STS
.settings/
.project
.classpath
.factorypath

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Spring Boot
# =========================
spring.log
*.pid

# =========================
# Node / Frontend
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Others
# =========================
.env
.env.*