# =========================
# Enviroment Variable
# =========================
.env
.env.*

# =========================
# Nodejs
# =========================
node_modules

# =========================
# Visual Studio Code
# =========================
.vscode